$color-master: #FF6C00;
$color-sec: #fff;
$color-thir: #F5F5F5;
$color-four: #DEDEDE;
$color-five: rgba(0,0,0,.2);
$color-six: #000;
$color-sev: rgba(0,0,0,.9);


$fontsize-xxxl: 64px;
$fontsize-xxl: 45px;
$fontsize-xl: 32px;
$fontsize-l: 24px;
$fontsize-m: 20px;
$fontsize-s: 16px;

$line-h-master:1.5;
$line-h-sec:1.4;
$line-h-thir:1.3;

$letter-spc-master: auto;
$letter-spc-l: 2px;
$letter-spc-m: 1.5px;
$letter-spc-s: 1px;

